{% extends "base.html" %}

{% block body_class %}clothing-background{% endblock %}

{% block body %}

<div class="clothing-header">
    <h3><a class="for-him-header" href=#>For Him</a> |
    <a class="for-her-header"href=#>For Her</a></h3>
</div>

<div class="container">
    <div class="row">

        {% for clothing in clothes %}
  
    <div class="col-md-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/' ~ clothing.image) }}">
        <div class="card-body">
          <button type="button" class="btn btn-dark card1-title"><h5 class="card-title">{{ clothing.clothingName }}</h5></button>
            <p class="card-text">{{ clothing.clothingDescription }}</p>
          </div>
      </div>
    </div>

    {% endfor %}
        <!-- <div class="col-md-4">
            <div class="card">
                <img class="card-img-top">
            <div class="card-body">
                <button type="button" class="btn btn-dark card1-title"><h5 class="card-title"></h5></button>
                    <p class="card-text"></p>
            </div>
      </div> -->
    </div>
</div>

<!-- {% if results %}

<div class="container">
  <div class="row justify-content-center">

    {% for clothing in results %}
  
    <div class="col-md-4 mb-4">
      <div class="card">
        <img class="card-img-top" src="{{ url_for('static', filename='images/' ~ clothing.image) }}">
        <div class="card-body">
          <button type="button" class="btn btn-dark card1-title"><h5 class="card-title">{{ clothing.clothingName }}</h5></button>
            <p class="card-text">{{ clothing.clothingDescription }}</p>
          </div>
      </div>
    </div>

    {% endfor %}

    </div>
</div>

{% else %}
  <p class="result">No results found.</p>
{% endif %} -->

{% endblock %}