{% extends "base.html" %}

{% block body_class %}coaching-background{% endblock %}

{% block body %}

<div class="container text-center my-4 supplements-header">
  <h1 class="display-3 fw-bold">Reach Out</h1>
  <h1 class="display-3 fw-bold">For</h1>
  <h1 class="display-3 fw-bold">Coaching</h1>
</div>

<!-- <form class="coaching-form">
        <input name="name" placeholder="Enter your name">
    </div>
    <div class="coaching-form">
        <input name="email" placeholder="Enter your email">    
    </div>
    <div class="coaching-form">
        <textarea name="message" placeholder="Enter your message">    
    </div>
    <button type="submit" class="btn btn-dark coaching-submit">Submit</button>
</form> -->

<form action="/coaching-submit" method="POST" class="coaching-form">
  <h5 class="coachingClientNameHeader">Enter Your Name</h5>
  <input type="text" name="client_name" placeholder="Client Name" required class="clientNameClass">

  <h5 class="coachingClientEmailHeader">Enter Your Email</h5>
  <input type="email" name="client_email" placeholder="Client Email" required class="clientEmailClass">

  <h5 class="coachingClientMessageHeader">Enter Your Message</h5>
  <textarea name ="client_message" rows="4" cols="50" placeholder="What are you looking for in coaching?" class="clientMessageClass"></textarea>
  <input type="submit" value="Submit">
</form>

{% endblock %}