{% extends "base.html" %}

{% block body_class %}edit-background{% endblock %}

{% block body %}

<div class="content">
        <h2 class="text-center my-4 chat-header">Edit Review</h2>

        <form action="/edit/{{ review.id }}" method="POST" class="chat-forum">
            <h5 class="reviewNameHeader">Review Name</h5>
            <input type="text" name="review_title" value="{{ review.reviewTitle }}" class="reviewNameClass">
            <h5 class="yapHeader">Your Thoughts</h5>
            <textarea name="review_content" rows="4" cols="50" class="yapClass">{{ review.reviewContent }}</textarea>

            <input type="submit" value="Edit">
        </form>
    </div>
    
    {% endblock %}