{% extends "base.html" %}

{% block body_class %}preorder-background{% endblock %}

{% block body %}

<div class="container">
    <div class="row">

        <!-- Left side -->
        <div class="col-md-6">

            <form method="POST">

                <h3>Pre Order</h3>

                <input
                    type="text"
                    name="name"
                    placeholder="Name"
                    class="form-control mb-3"
                    required>

                <input
                    type="email"
                    name="email"
                    placeholder="Email"
                    class="form-control mb-3"
                    required>

                <select
                    name="size"
                    class="form-control mb-3"
                    required>

                    <option value="">Select Size</option>
                    <option>S</option>
                    <option>M</option>
                    <option>L</option>
                    <option>XL</option>

                </select>

                <button class="btn btn-dark">
                    <h5 class="card-title">Pre Order</h5>
                </button>

            </form>

        </div>

        <!-- Right side -->
        <div class="col-md-6 text-center">

            <img
                src="{{ url_for('static',
                filename='images/' ~ clothing_item.image) }}"
                class="img-fluid">

            <h2>{{ clothing_item.clothingName }}</h2>

        </div>

    </div>
</div>

{% endblock %}