{% extends "base.html" %}

{% block body_class %}chat-background{% endblock %}

{% block body %}

<div class = "content">

<h2 class="text-center my-4 reviewHeader">Speak Your Mind!</h2>

<!-- <form action="/action_page.php" class="chat-forum">
  <p><label for="w3review">Review of W3Schools:</label></p>
  <input type="text" value="Thread Title">
  <textarea id="w3review" name="w3review" rows="4" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
  <br>
  <input type="submit" value="Submit">
</form> -->

<form action="/add" method="POST" class="chat-forum">
  <h5 class="reviewNameHeader">Review Name</h5>
  <input type="text" name ="review_title"placeholder="Review Name" class="reviewNameClass">

  <h5 class="yapHeader">Your Thoughts</h5>
  <textarea name ="review_content" rows="4" cols="50" placeholder="Yap" class="yapClass"></textarea>
  <input type="submit" value="Submit">
</form>

<br>

<h1 class="chat-Header">
  Recent Reviews
</h1>

<table class="chat-table">
  <thead>
    <th>Id</th>
    <th>Review Name</th>
    <th>Content</th>
    <th>Delete</th>
    <th>Edit</th>
  </thead>
  {% for data in reviews %}
  <tbody>
    <td>{{data.id}}</td>
    <td>{{data.reviewTitle}}</td>
    <td>{{data.reviewContent}}</td>
    <td><a href="/delete/{{data.id}}" type="button">Delete</a></td>
    <td><a href="/edit/{{data.id}}" type="button">Edit</a></td>
  </tbody>
  {% endfor%}
</table>
</div>

{% endblock %}