{% extends "base.html" %}

{% block body_class %}chat-background{% endblock %}

{% block body %}

<div class = "content">

<h2 class="text-center my-4 reviewHeader">Speak Your Mind!</h2>

<!-- <form action="/action_page.php" class="chat-forum">
  <p><label for="w3review">Review of W3Schools:</label></p>
  <input type="text" value="Thread Title">
  <textarea id="w3review" name="w3review" rows="4" cols="50">At w3schools.com you will learn how to make a website. They offer free tutorials in all web development technologies.</textarea>
  <br>
  <input type="submit" value="Submit">
</form> -->

<form action="/add" method="POST" class="chat-forum">
  <h5 class="reviewNameHeader">Review Name</h5>
  <input type="text" name ="review_title"placeholder="Review Name" class="reviewNameClass">

  <h5 class="yapHeader">Review Content</h5>
  <textarea name ="review_content" rows="4" cols="50" placeholder="Review Content" class="yapClass"></textarea>
  <input type="submit" value="Submit">
</form>

<br>

<h1 class="chat-Header">
  Recent Reviews
</h1>

<!-- <table class="chat-table"> -->
  <!-- <thead> -->
    <!-- <th>Id</th> -->
    <!-- <th>Review Name</th>
    <th>Content</th> -->
    <!-- <th>Delete</th>
    <th>Edit</th> -->
  <!-- </thead> -->
  <!-- {% for data in reviews %}
  <tbody class="review-block">
    <tr>
        <th>
          Review Name
        </th>
    </tr>
    <tr> -->
    <!-- <td>{{data.id}}</td> -->
    <!-- <td>{{data.reviewTitle}}</td>
    </tr>
    <tr>
        <th>
          Review Content
        </th>
    </tr>
    <tr>
    <td>{{data.reviewContent}}</td>
    </tr>
    <td><a href="/delete/{{data.id}}" type="button">Delete</a></td>
    <td><a href="/edit/{{data.id}}" type="button">Edit</a></td>
  </tbody>
  {% endfor%}
</table> -->

<div class="container">
  {% for data in reviews %}
    <div class="card bg-dark text-white mb-4 shadow mx-auto" style="max-width: 700px;">
      <div class="card-body">

        <h5 class="card-title">Review Name</h5>
        <p class="card-text">{{ data.reviewTitle }}</p>

        <h6 class="mt-3">Review Content</h6>
        <p class="card-text">{{ data.reviewContent }}</p>

        <div class="mt-3">
          <a href="/delete/{{ data.id }}" class="btn btn-custom-green btn-sm">Delete</a>
          <a href="/edit/{{ data.id }}" class="btn btn-custom-green btn-sm">Edit</a>

          
        </div>

      </div>
    </div>
  {% endfor %}
</div>
</div>

{% endblock %}